Repository repobuddy/repobuddy: changes, and which Codecov flags are due for each by the changed paths.
All: biome, jest, typescript

chore: add codecov-flags
  .github/workflows/release.yml
Due: none

docs: update badge
  README.md
Due: none

chore: add biome badges
  packages/biome/readme.md
Due: biome

docs: adjust codecov url
  README.md
Due: none

fix: turnoff `noExplicitAny`
  .changeset/gold-roses-deny.md
  packages/biome/recommended.json
Due: biome

chore: add @swc/jest as dev deps
  packages/jest/package.json
  pnpm-lock.yaml
Due: jest

chore: add verbose
  package.json
Due: none

chore: use turbo canary
  .github/workflows/pull-request.yml
Due: none

chore: enable mac CI again
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore: add peer deps as dev
  packages/jest/package.json
  pnpm-lock.yaml
Due: jest

fix: lineending and width
  .changeset/wet-kings-march.md
  .vscode/settings.json
  packages/biome/recommended.json
Due: biome

fix: cjs type export
  .changeset/itchy-taxis-fry.md
  packages/jest/package.json
Due: jest

fix: emit cjs declaration
  packages/jest/package.json
  packages/jest/tsconfig.cjs.json
Due: jest

fix: remove node16 from cjs for ts 5.2
  .changeset/fifty-wombats-eat.md
  packages/typescript/tsconfig/modules/buddy-commonjs.json
  packages/typescript/tsconfig/modules/commonjs.json
Due: typescript

docs: clean up
  packages/biome/readme.md
Due: biome

chore: update formatter config
  .vscode/settings.json
Due: none

chore: add dict
  .vscode/ltex.dictionary.en-US.txt
Due: none

chore: add biome filter script
  package.json
Due: none

fix: add some rules
  packages/biome/recommended.json
Due: biome

chore: add base tsconfig
  tsconfig.json
Due: none

fix: disable useLiteralKeys
  .changeset/wet-kings-march.md
  packages/biome/recommended.json
Due: biome

chore: skipLibCheck
  packages/jest/package.json
  packages/jest/tsconfig.base.json
Due: jest

docs: fix link
  README.md
Due: none

test: rename test files
  packages/biome/src/complexity/no_for_each.warn.ts
  packages/biome/src/complexity/use_literal_keys.off.ts
  packages/biome/src/correctness/no_unused_variables.error.js
  packages/biome/src/correctness/no_unused_variables.error.ts
  packages/biome/src/correctness/use_exhaustive_dependencies.off.tsx
Due: biome

chore: add neo-ltex
  .vscode/extensions.json
Due: none

fix: noForEach
  .changeset/lazy-dingos-shout.md
  packages/biome/recommended.json
Due: biome

chore: updaet workspace extension recommendation
  .vscode/settings.json
  repobuddy.code-workspace
Due: none

fix: set noForEach to off
  .changeset/lazy-dingos-shout.md
  packages/biome/readme.md
  packages/biome/recommended.json
  packages/biome/src/correctness/use_exhaustive_dependencies.off.tsx
Due: biome

Path conditions:
  biome: any of: packages/biome/
  jest: any of: packages/jest/
  typescript: any of: packages/typescript/
