Repository repobuddy/repobuddy: changes, and which Codecov flags are due for each by the changed paths.
All: biome, jest, typescript

fix(spec): rename the repo-root project to repobuddy-repo
  .agents/spec/spec.md
Due: none

docs(spec): correct the gap count and list numbering in the to-question node
  .agents/spec/agent-skills/to-question/README.md
Due: none

fix(skills): keep the question's headline on comment targets
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/to-question.feature
  skills/to-question/SKILL.md
  skills/to-question/assets/asana.md
  skills/to-question/assets/github.md
  skills/to-question/assets/gitlab.md
  skills/to-question/assets/jira.md
  skills/to-question/assets/markdown.md
Due: none

chore(spec): wire up ACED evals for to-question
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/eval.md
  .agents/spec/agent-skills/to-question/to-question.feature
  .agents/universal-plugin.json
  .gitignore
Due: none

fix(skills): frame tracker targets as comments on existing items
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/to-question.feature
  .agents/spec/design/decisions/0001-to-question-owns-composition-not-delivery.md
  .agents/spec/design/posting-skill-boundaries.md
  .agents/spec/glossary.md
  skills/to-question/SKILL.md
  skills/to-question/assets/asana.md
  skills/to-question/assets/markdown.md
Due: none

docs(plans): mark the main catch-up done in the to-question plan
  .agents/plans/to-question-spec-backfill.plan.md
Due: none

docs(spec): backfill the SDD spec for the to-question skill
  .agents/spec/agent-skills/README.md
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/to-question.feature
  .agents/spec/design/README.md
  .agents/spec/design/decisions/0001-to-question-owns-composition-not-delivery.md
  .agents/spec/design/decisions/README.md
  .agents/spec/design/posting-skill-boundaries.md
  .agents/spec/glossary.md
  .agents/spec/spec.md
  .agents/spec/tooling/README.md
  .agents/spec/workflows/README.md
Due: none

fix(skills): derive options with costs, and keep the email subject out of the body
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/eval.md
  .agents/spec/agent-skills/to-question/to-question.feature
  skills/to-question/SKILL.md
  skills/to-question/assets/asana.md
  skills/to-question/assets/email.md
  skills/to-question/assets/github.md
  skills/to-question/assets/gitlab.md
  skills/to-question/assets/jira.md
  skills/to-question/assets/markdown.md
  skills/to-question/assets/slack.md
Due: none

fix(scripts): fail validate-skill on an aborted ACED run
  scripts/validate-skill.mjs
Due: none

docs(plans): record the ACED re-run dying on the session limit
  .agents/plans/to-question-spec-backfill.plan.md
Due: none

fix(skills): resolve check-format against the skill dir, not the cwd
  .agents/spec/agent-skills/to-question/eval.md
  scripts/validate-skill.mjs
  skills/to-question/README.md
  skills/to-question/SKILL.md
Due: none

fix(skills): repair the defects the first ACED run exposed
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/eval.md
  .agents/spec/agent-skills/to-question/to-question.feature
  skills/to-question/SKILL.md
  skills/to-question/assets/asana.md
  skills/to-question/assets/github.md
  skills/to-question/assets/gitlab.md
  skills/to-question/assets/jira.md
  skills/to-question/assets/markdown.md
Due: none

feat(skills): add to-question skill for multi-platform question formatting
  skills/to-question/README.md
  skills/to-question/SKILL.md
  skills/to-question/assets/asana.md
  skills/to-question/assets/email.md
  skills/to-question/assets/github.md
  skills/to-question/assets/gitlab.md
  skills/to-question/assets/jira.md
  skills/to-question/assets/slack.md
Due: none

fix(skills): repair four defects backfilling to-question exposed
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/to-question.feature
  skills/to-question/README.md
  skills/to-question/SKILL.md
  skills/to-question/assets/email.md
  skills/to-question/assets/github.md
  skills/to-question/assets/gitlab.md
Due: none

chore(scripts): add validate-skill, a pre-report guard
  biome.jsonc
  package.json
  scripts/validate-skill.mjs
Due: none

feat(skills): add linear target and a markdown baseline fallback to to-question
  .agents/spec/agent-skills/to-question/README.md
  .agents/spec/agent-skills/to-question/to-question.feature
  .agents/spec/agent-skills/to-question/to-question.solution.md
  skills/to-question/README.md
  skills/to-question/SKILL.md
  skills/to-question/assets/markdown.md
Due: none

docs(plans): record the PR-scope and spec-gate calls as settled
  .agents/plans/to-question-spec-backfill.plan.md
Due: none

feat(skills): add review-permissions skill for cross-harness permission audits
  .changeset/tidy-moons-invent.md
  AGENTS.md
  packages/buddy/skills/review-permissions/README.md
  packages/buddy/skills/review-permissions/SKILL.md
  packages/buddy/skills/review-permissions/scripts/scan-permissions.mjs
  readme.md
Due: none

fix(skills): read multi-line TOML arrays and report unparsed lines
  packages/buddy/skills/review-permissions/scripts/scan-permissions.mjs
Due: none

fix(skills): match subsumption on a token boundary
  packages/buddy/skills/review-permissions/scripts/scan-permissions.mjs
Due: none

docs: add changeset
  .changeset/lucky-pandas-repeat.md
Due: none

fix(vitest): annotate preset return types as vite Plugin
  .changeset/eighty-pots-smoke.md
  packages/vitest/src/config/browser_test_preset.spec.ts
  packages/vitest/src/config/browser_test_preset.ts
  packages/vitest/src/config/node_test_preset.spec.ts
  packages/vitest/src/config/node_test_preset.ts
Due: none

chore: enforce the dependency soak in strict mode
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: consolidate dependency automation on Renovate
  .github/mergify.yml
  .github/renovate.json
  .github/workflows/dependabot-automerge.yml
Due: none

build: move the toolchain to TypeScript 7 where it can go
  .changeset/olive-moons-tap.md
  package.json
  packages/buddy/package.json
  packages/test/package.json
  packages/typescript/package.json
  packages/vitest/package.json
  pnpm-lock.yaml
  testcases/build-ts/package.json
Due: typescript

chore: fix renovate.json formatting
  .github/renovate.json
Due: none

chore: enforce the dependency soak in strict mode (#613)
  .npmrc
  pnpm-workspace.yaml
Due: none

chore: consolidate dependency automation on Renovate (#614)
  .github/mergify.yml
  .github/renovate.json
  .github/workflows/dependabot-automerge.yml
Due: none

build: move the toolchain to TypeScript 7 where it can go (#615)
  .changeset/olive-moons-tap.md
  package.json
  packages/buddy/package.json
  packages/test/package.json
  packages/typescript/package.json
  packages/vitest/package.json
  pnpm-lock.yaml
  testcases/build-ts/package.json
Due: typescript

fix: keep type-plus on the stable 7.x line
  .github/renovate.json
  pnpm-lock.yaml
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
Due: none

fix: keep type-plus on the stable 7.x line (#617)
  .github/renovate.json
  pnpm-lock.yaml
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
Due: none

build: replace five per-package depcheck tasks with one root knip
  knip.ts
  package.json
  packages/buddy/.depcheckrc.yml
  packages/buddy/package.json
  packages/jest/.depcheckrc.yml
  packages/jest/package.json
  packages/test/.depcheckrc.yml
  packages/test/package.json
  packages/typescript/.depcheckrc.yml
  packages/typescript/package.json
  packages/vitest/.depcheckrc.yml
  packages/vitest/package.json
  pnpm-lock.yaml
  turbo.json
Due: jest, typescript

chore: remove the dead dependencies and files knip found
  .prettierrc.js
  examples/biome/package.json
  package.json
  packages/jest/package.json
  pnpm-lock.yaml
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
  testcases/js-cjs/package.json
  testcases/js-esm/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
Due: jest

build: stop knip reporting @repobuddy/vitest's deliberate optional peer
  knip.ts
Due: none

fix(jest): remove the broken config.mjs from the published package
  .changeset/olive-moons-repeat.md
  packages/jest/config.mjs
  packages/jest/package.json
Due: jest

build: replace per-package depcheck with a single root knip (#621)
  .changeset/olive-moons-repeat.md
  .prettierrc.js
  examples/biome/package.json
  knip.ts
  package.json
  packages/buddy/.depcheckrc.yml
  packages/buddy/package.json
  packages/jest/.depcheckrc.yml
  packages/jest/config.mjs
  packages/jest/package.json
  packages/test/.depcheckrc.yml
  packages/test/package.json
  packages/typescript/.depcheckrc.yml
  packages/typescript/package.json
  packages/vitest/.depcheckrc.yml
  packages/vitest/package.json
  pnpm-lock.yaml
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
  testcases/js-cjs/package.json
  testcases/js-esm/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
  turbo.json
Due: jest, typescript

test(biome): make the preset fixture suite actually fail
  biome.jsonc
  package.json
  packages/biome/package.json
  packages/biome/tests/.config/performant/biome.jsonc
  packages/biome/tests/.config/recommended/biome.jsonc
  packages/biome/tests/performant/complexity/no_for_each.off.ts
  pnpm-lock.yaml
  turbo.json
Due: biome

fix(biome): raise useNodejsImportProtocol to error
  .changeset/quiet-cows-listen.md
  packages/biome/performant.jsonc
  packages/biome/recommended.jsonc
  packages/biome/tests/performant/style/use_nodejs_import_protocol.error.ts
  packages/biome/tests/recommended/style/use_nodejs_import_protocol.error.ts
Due: biome

build: enforce Conventional Commits with husky 9 + commitlint 21
  .husky/commit-msg
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

docs: correct the stale toolchain notes in AGENTS.md
  .changeset/quiet-cows-listen.md
  AGENTS.md
Due: none

Path conditions:
  biome: any of: packages/biome/
  jest: any of: packages/jest/
  typescript: any of: packages/typescript/
