Repository repobuddy/repobuddy: changes, and which Codecov flags are due for each by the changed paths.
All: biome, jest, typescript

chore: demo
  biome.jsonc
Due: none

feat: Remove the `json` and `jsonc` config
  .changeset/strange-shrimps-raise.md
  biome.jsonc
  packages/biome/performant.jsonc
  packages/biome/recommended.jsonc
  packages/biome/tests/recommended/json/.frontmatter/config/settings.json
  packages/biome/tests/recommended/json/.swcrc
  packages/biome/tests/recommended/json/.vscode/settings.json
  packages/biome/tests/recommended/json/frontmatter.json
  packages/biome/tests/recommended/json/tsconfig.x.json
  pnpm-lock.yaml
Due: biome

docs: update and rename
  packages/buddy/readme.md
  packages/typescript/readme.md
  readme.md
Due: typescript

deploy: 2315dbad6cdc8959a282cb603a3e0ac7b638989d
  404.html
  _astro/hoisted.DesBe1op.js
  _astro/hoisted.FicniJ2Z.js
  _astro/ui-core.BLdgnpO0.js
  _astro/ui-core.ZWB8C80G.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

feat: enable noConsoleLog
  .changeset/kind-clocks-worry.md
  packages/biome/recommended.jsonc
  packages/biome/tests/recommended/suspicious/no_console_log.error.ts
  packages/biome/tests/recommended/suspicious/no_console_log.ts
Due: biome

deploy: 10416f038e0755070ada2e723cf02c1b1e13bddd
  404.html
  _astro/hoisted.DesBe1op.js
  _astro/hoisted.FicniJ2Z.js
  _astro/ui-core.BLdgnpO0.js
  _astro/ui-core.ZWB8C80G.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

deploy: ef06b2bab366d9db289399d5fda92f4eb1a1b501
  404.html
  _astro/index.BdNpseoy.css
  _astro/index.C9DjdP_-.css
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

docs: add specifier placement explanation
  packages/jest/readme.md
Due: jest

chore: markdownlint config
  .markdownlint-cli2.jsonc
  .markdownlintignore
  biome.jsonc
Due: none

deploy: 981d74047df5cba05ad9d308fd3931e43f98f1c5
  404.html
  _astro/hoisted.Cis_jTFZ.js
  _astro/hoisted.Diow_f3p.js
  _astro/index.CB_Grbht.css
  _astro/index.CvqHJNw7.css
  _astro/ui-core.CJF4onz_.js
  _astro/ui-core.DR59RojX.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

deploy: 408b59fc0b15c875a8b84a0e553172f33e716494
  404.html
  _astro/hoisted.B08468CZ.js
  _astro/hoisted.Cis_jTFZ.js
  _astro/ui-core.CJF4onz_.js
  _astro/ui-core.DqN7dnli.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

feat: add bd alias
  .changeset/slimy-impalas-marry.md
  packages/buddy/package.json
Due: none

chore: update turbo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

deploy: bd113cc0fd9c47505bad19826563dfb58091bcd7
  404.html
  _astro/hoisted.C1Grw_uJ.js
  _astro/hoisted.D_TIU9G4.js
  _astro/index.9W7v0AZ2.css
  _astro/index.C-UVr0XG.css
  _astro/ui-core.CJzj73a8.js
  _astro/ui-core.oFwoAgSM.js
  guides/getting-started/index.html
  index.html
  pagefind/pagefind-entry.json
  pagefind/pagefind-ui.js
  pagefind/pagefind.en_5b35d2dd80.pf_meta
  pagefind/pagefind.en_be24ee4e66.pf_meta
  pagefind/pagefind.js
  pagefind/wasm.en.pagefind
  pagefind/wasm.unknown.pagefind
  reference/example/index.html
Due: none

chore: ignore frontmatter
  .frontmatter/database/mediaDb.json
  .gitignore
Due: none

docs: explain package.json lineWidth
  packages/biome/recommended.jsonc
Due: biome

deploy: 746b5f53ab4ba18e342233db295395d872c4626b
  pagefind/index/en_7aebadd.pf_index
  pagefind/index/en_f18b63a.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4b399cc58c.pf_meta
  pagefind/pagefind.en_5f49317c76.pf_meta
Due: none

chore: remove remaining electron related code
  .vscode/ltex.dictionary.en-US.txt
  .vscode/settings.json
  jest.code-workspace
  packages/jest/jsr.json
  packages/jest/presets/electron-renderer-ts-cjs-watch/jest-preset.js
  packages/jest/presets/electron-renderer-ts-cjs-watch/package.json
  packages/jest/presets/electron-renderer-ts-cjs/jest-preset.js
  packages/jest/presets/electron-renderer-ts-cjs/package.json
  packages/jest/presets/electron-renderer-ts-esm-watch/jest-preset.js
  packages/jest/presets/electron-renderer-ts-esm-watch/package.json
  packages/jest/presets/electron-renderer-ts-esm/jest-preset.js
  packages/jest/presets/electron-renderer-ts-esm/package.json
  packages/jest/presets/electron-renderer-ts-watch/jest-preset.js
  packages/jest/presets/electron-renderer-ts-watch/package.json
  packages/jest/presets/electron-renderer-ts/jest-preset.js
  packages/jest/presets/electron-renderer-ts/package.json
  packages/jest/presets/electron-ts-cjs-watch/jest-preset.js
  packages/jest/presets/electron-ts-cjs-watch/package.json
  packages/jest/presets/electron-ts-cjs/jest-preset.js
  packages/jest/presets/electron-ts-cjs/package.json
  packages/jest/presets/electron-ts-esm-watch/jest-preset.js
  packages/jest/presets/electron-ts-esm-watch/package.json
  packages/jest/presets/electron-ts-esm/jest-preset.js
  packages/jest/presets/electron-ts-esm/package.json
  packages/jest/presets/electron-ts-watch/jest-preset.js
  packages/jest/presets/electron-ts-watch/package.json
  packages/jest/presets/electron-ts/jest-preset.js
  packages/jest/presets/electron-ts/package.json
  packages/jest/ts/fields/index.ts
  packages/jest/ts/fields/runner.ts
  packages/jest/ts/fields/testEnvironment.ts
  packages/vitest/readme.md
  repobuddy.code-workspace
  website/src/content/docs/index.mdx
Due: jest

chore: update pnpm-workspace.yaml to manage built dependencies
  pnpm-workspace.yaml
Due: none

chore: update bin paths and clean up unused shebang in buddy package
  packages/buddy/bin/buddy.js
  packages/buddy/package.json
  packages/buddy/ts/bin.ts
Due: none

chore(deps): update TypeScript version across multiple packages to ^5.8.3
  package.json
  packages/buddy/package.json
  packages/jest/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
  testcases/build-ts/package.json
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
  website/package.json
Due: jest, typescript

chore: update TypeScript and ESLint
  .eslintignore
  .eslintrc.cjs
  .github/workflows/codeql-analysis.yml
  eslint.config.mjs
  package.json
  packages/buddy/.eslintrc.cjs
  packages/buddy/bin/buddy.js
  packages/jest/.eslintrc.cjs
  packages/typescript/.eslintignore
  packages/typescript/.eslintrc.cjs
  packages/typescript/package.json
  pnpm-lock.yaml
  turbo.json
Due: jest, typescript

chore: remove top-level jest
  jest.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update rimraf to version 6.0.1 across multiple packages
  package.json
  packages/buddy/package.json
  packages/jest/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
  testcases/build-ts/package.json
  testcases/dual-ts-jest/package.json
  testcases/dual-ts-swc/package.json
  testcases/js-cjs/package.json
  testcases/js-esm/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
Due: jest, typescript

deploy: 306aba006eaa5f3ac140d792a54508cfeb4d5f82
  index.html
  pagefind/fragment/en_a6ea97a.pf_fragment
  pagefind/fragment/en_b0fd858.pf_fragment
  pagefind/index/en_7aebadd.pf_index
  pagefind/index/en_f6e43b5.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_4b399cc58c.pf_meta
  pagefind/pagefind.en_c8134bd191.pf_meta
Due: none

chore: add vitest project
  .vscode/ltex.dictionary.en-US.txt
  .vscode/settings.json
  package.json
  packages/vitest/.depcheckrc.yml
  packages/vitest/.gitignore
  packages/vitest/.size-limit.json
  packages/vitest/LICENSE
  packages/vitest/package.json
  packages/vitest/src/config_defaults.ts
  packages/vitest/src/index.spec.ts
  packages/vitest/tsconfig.esm.json
  packages/vitest/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: vitest presets
  .changeset/late-lines-cover.md
  packages/vitest/package.json
  packages/vitest/src/config/browser.spec.ts
  packages/vitest/src/config/browser.ts
  packages/vitest/src/config/config-defaults.ts
  packages/vitest/src/config/index.ts
  packages/vitest/src/config/merge-config.ts
  packages/vitest/src/config/node.spec.ts
  packages/vitest/src/config/node.ts
  packages/vitest/src/config/types.ts
  packages/vitest/src/index.spec.ts
  packages/vitest/src/index.ts
  packages/vitest/tsconfig.esm.json
  packages/vitest/vitest.config.browser.ts
  packages/vitest/vitest.config.node.ts
  packages/vitest/vitest.config.ts
Due: none

Path conditions:
  biome: any of: packages/biome/
  jest: any of: packages/jest/
  typescript: any of: packages/typescript/
