Repository repobuddy/repobuddy: changes, and which Codecov flags are due for each by the changed paths.
All: biome, jest, typescript

codecov.yml:

flags:
  biome:
    paths:
      - packages/biome/
  jest:
    paths:
      - packages/jest/
  typescript:
    paths:
      - packages/typescript/

feat(biome): remove trailingComma: none
  .changeset/proud-files-own.md
  packages/biome/recommended.json
  packages/biome/src/formatter/tailing_comma.ts
Due: biome

chore: update biome to 1.7.2
  .biome/biome.performant.json
  .biome/recommended.json
  biome.json
  package.json
  packages/biome/performant.json
  packages/biome/recommended.json
  packages/biome/tests/performant/complexity/no_for_each.off.ts
  packages/biome/tests/performant/correctness/no_inner_declarations.warn.ts
  packages/biome/tests/performant/style/no_var.off.ts
  packages/biome/tests/recommended/complexity/no_for_each.off.ts
  packages/biome/tests/recommended/complexity/no_var.error.ts
  packages/biome/tests/recommended/complexity/use_literal_keys.off.ts
  packages/biome/tests/recommended/correctness/no_unused_variables.error.ts
  packages/biome/tests/recommended/correctness/use_exhaustive_dependencies.off.ts
  packages/biome/tests/recommended/formatter/tailing_comma.ts
  packages/biome/tsconfig.json
  pnpm-lock.yaml
Due: biome

deploy: fa37bdd0d50aae8ddf8ace73ad0e30ab9d5ea045
  404.html
  _astro/index.C_u9IRy4.css
  _astro/index.DA8ld93Y.css
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

feat: turn off useTemplate
  .changeset/warm-rockets-sin.md
  biome.json
  packages/biome/performant.json
  packages/biome/recommended.json
  packages/biome/tests/performant/style/use_template.off.ts
  packages/biome/tests/recommended/style/use_template.off.ts
Due: biome

deploy: 60f3b3992a7ff2b0ba61587e4e4b2940ca8660e0
  404.html
  _astro/index.Bcsh5H41.css
  _astro/index.DA8ld93Y.css
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

fix: use jsonc
  .changeset/new-moles-exist.md
  biome.json
  packages/biome/package.json
  packages/biome/performant.jsonc
  packages/biome/recommended.jsonc
Due: biome

Update README.md
  README.md
Due: none

chore: cleanup
  .vscode/ltex.dictionary.en-US.txt
  website/astro.config.ts
  website/src/content/docs/guides/getting-started.md
  website/src/content/docs/guides/getting-started.mdx
Due: none

deploy: 7a3e290295837cb53d5e8becbff6331390f20c88
  404.html
  _astro/index.CS5XRScO.css
  _astro/index.n33CItsn.css
  guides/getting-started/index.html
  index.html
  pagefind/fragment/en_1f673a2.pf_fragment
  pagefind/fragment/en_f09588e.pf_fragment
  pagefind/index/en_14372c4.pf_index
  pagefind/index/en_c490bdc.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_2b943d826b.pf_meta
  pagefind/pagefind.en_44b6d3c80e.pf_meta
  reference/example/index.html
Due: none

feat(jest): support learning test
  .changeset/quiet-jokes-sip.md
  packages/jest/package.json
  packages/jest/ts/configs/electron.ts
  packages/jest/ts/configs/jsdom.ts
  packages/jest/ts/configs/node.spec.ts
  packages/jest/ts/configs/node.ts
  packages/typescript/package.json
Due: jest, typescript

chore: up dep
  pnpm-lock.yaml
  website/package.json
Due: none

feat(ts): add copy-cjs-package-json
  .changeset/neat-oranges-brake.md
  packages/typescript/ts/build.ts
  packages/typescript/ts/copy_cjs_package_json.ts
  packages/typescript/ts/index.spec.ts
  packages/typescript/ts/index.ts
Due: typescript

chore: up jest
  packages/buddy/package.json
  packages/jest/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
  testcases/electron-renderer-ts/package.json
  testcases/electron-ts/package.json
  testcases/js-cjs/package.json
  testcases/js-esm/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
Due: jest, typescript

chore: up turborepo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: pin ts-jest to 29.1
  packages/jest/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
  testcases/electron-renderer-ts/package.json
  testcases/electron-ts/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
Due: jest, typescript

chore: up ts-jest to 29.2.3
  packages/jest/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
  testcases/electron-renderer-ts/package.json
  testcases/electron-ts/package.json
  testcases/jsdom-ts/package.json
  testcases/ts-cjs/package.json
  testcases/ts-esm/package.json
  testcases/two-chalk/package.json
  testcases/with-t/package.json
Due: jest, typescript

chore: up proj setting
  .vscode/settings.json
  biome.json
Due: none

feat: up clibuilder
  .changeset/curvy-swans-act.md
  packages/buddy/package.json
  packages/typescript/package.json
  pnpm-lock.yaml
Due: typescript

chore: downgrade turbo to 1
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

deploy: 92e3cbc4ed8967c4c2a74598cc1c04743c5d7a91
  404.html
  _astro/index.DWfnoXfD.css
  _astro/index.wTV7f7ju.css
  guides/getting-started/index.html
  index.html
  pagefind/index/en_63fb2f2.pf_index
  pagefind/index/en_f5f3b27.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_366c40c274.pf_meta
  pagefind/pagefind.en_d042c591e7.pf_meta
  reference/example/index.html
Due: none

chore: downgrade biome to 1.7.3
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

chore: disable tag and version generation for pirvate packages
  .changeset/config.json
Due: none

fix: Remove ignore code 151001
  .changeset/thirty-falcons-retire.md
  packages/jest/ts/fields/transform.ts
Due: jest

fix: adjust global
  .changeset/warm-ducks-push.md
  packages/jest/ts/matchers/toSatisfies.ts
Due: jest

deploy: 0e5745c2566c6c23e1ef96926e503d03a25b5890
  404.html
  _astro/hoisted.D2PCZP5e.js
  _astro/hoisted.DfIZDHVP.js
  _astro/ui-core.BM5EjCDI.js
  _astro/ui-core.Cj7PP8qz.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

test: update to use ts-jest config
  testcases/dual-ts-jest/jest.config.cjs
Due: none

deploy: 778fda12b60093976eb4f3437feb307042f74061
  404.html
  _astro/hoisted.D2PCZP5e.js
  _astro/hoisted.DfIZDHVP.js
  _astro/ui-core.BM5EjCDI.js
  _astro/ui-core.Cj7PP8qz.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

chore: clean up
  testcases/dual-ts-swc/jest.config.bundle.cjs
Due: none

deploy: f0f69e5b3e6f1e0cf253413da7290fd8053c00f8
  404.html
  _astro/ec.8zarh.js
  _astro/index.BHrCy5Py.css
  _astro/index.BaiBaUun.css
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

feat: update biome to 1.8.3
  .changeset/ten-rats-build.md
  biome.jsonc
  packages/biome/package.json
  packages/biome/performant.jsonc
  packages/biome/recommended.jsonc
Due: biome

deploy: dbbc5bab59e787839ee3dc9a8162ed3128122253
  404.html
  _astro/ec.d6kn2.css
  _astro/ec.j8ofn.css
  _astro/index.BaiBaUun.css
  _astro/index.CFwlgJl-.css
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none
