Repository repobuddy/repobuddy: changes, and which Codecov flags are due for each by the changed paths.
All: biome, jest, typescript

chore: add empty astro website
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/.gitignore
  website/.vscode/extensions.json
  website/.vscode/launch.json
  website/astro.config.ts
  website/package.json
  website/public/favicon.svg
  website/readme.md
  website/src/components/Card.astro
  website/src/env.d.ts
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
  website/tsconfig.json
Due: none

chore: update to use starlight
  .vscode/settings.json
  pnpm-lock.yaml
  website/astro.config.ts
  website/package.json
  website/public/favicon.svg
  website/readme.md
  website/src/assets/houston.webp
  website/src/components/Card.astro
  website/src/content/config.ts
  website/src/content/docs/guides/example.md
  website/src/content/docs/index.mdx
  website/src/content/docs/reference/example.md
  website/src/env.d.ts
  website/src/layouts/Layout.astro
  website/src/pages/index.astro
Due: none

chore: add svg extension
  .vscode/extensions.json
  repobuddy.code-workspace
Due: none

docs: add logo
  website/astro.config.ts
  website/public/img/logo.svg
  website/src/assets/logo.png
  website/src/assets/logo.svg
  website/src/content/docs/index.mdx
Due: none

chore: remove node 16 CI
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

docs: update main page
  packages/jest/README.md
  website/src/content/docs/guides/getting-started.md
  website/src/content/docs/index.mdx
Due: jest

chore: fix ci
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore: remove os input on release workflow
  .github/workflows/release.yml
Due: none

chore: should override node-version
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore: update @kayahr/jest-electron-runner
  package.json
  pnpm-lock.yaml
  testcases/electron-renderer-ts/package.json
  testcases/electron-renderer-ts/src/feature.spec.ts
  testcases/electron-renderer-ts/src/not_a_spec.ts
  testcases/electron-ts/package.json
  testcases/electron-ts/src/feature.spec.ts
  testcases/electron-ts/src/not_a_spec.ts
Due: none

chore: a site
  website/astro.config.ts
Due: none

feat: add performant.json
  .changeset/soft-bugs-nail.md
  packages/biome/package.json
  packages/biome/performant.json
Due: biome

fix: Fix `.vscode/*` linting
  .changeset/gold-tools-worry.md
  package.json
  packages/biome/recommended.json
  pnpm-lock.yaml
  testcases/jsdom-ts/src/feature.spec.ts
  testcases/jsdom-ts/src/not_a_spec.ts
  testcases/ts-esm/ts/nodejs.spec.tsx
  testcases/ts-esm/ts/types.ts
Due: biome

chore: update jest and elecrton runner
  packages/jest/package.json
  pnpm-lock.yaml
  testcases/electron-renderer-ts/package.json
  testcases/electron-ts/package.json
Due: jest

chore: remove final line on ltex files
  .editorconfig
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
Due: none

feat: use tab by default for all files
  .changeset/tricky-tables-cry.md
  packages/biome/recommended.json
Due: biome

chore: try adding doc
  .github/workflows/release.yml
  package.json
Due: none

chore: update turbo
  package.json
  pnpm-lock.yaml
Due: none

deploy: 0bdf3ce84600423639129c6c10ba04324c17a108
  .nojekyll
  404.html
  _astro/Tabs.astro_astro_type_script_index_0_lang.BqK4QFew.js
  _astro/ec.pjkke.css
  _astro/ec.sgewm.js
  _astro/hoisted.bf4k8FkQ.js
  _astro/index.BFRIaB9-.css
  _astro/logo.BH33cp9r_a7NP.webp
  _astro/logo.CyTFPDe7.svg
  _astro/page.CZ0TFQCk.js
  _astro/ui-core.CwbtRWDf.js
  favicon.svg
  guides/getting-started/index.html
  img/logo.svg
  index.html
  pagefind/fragment/en_1f673a2.pf_fragment
  pagefind/fragment/en_4338105.pf_fragment
  pagefind/fragment/en_a6ea97a.pf_fragment
  pagefind/index/en_7790aea.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind-highlight.js
  pagefind/pagefind-modular-ui.css
  pagefind/pagefind-modular-ui.js
  pagefind/pagefind-ui.css
  pagefind/pagefind-ui.js
  pagefind/pagefind.en_fd6919b4dd.pf_meta
  pagefind/pagefind.js
  pagefind/wasm.en.pagefind
  pagefind/wasm.unknown.pagefind
  reference/example/index.html
  sitemap-0.xml
  sitemap-index.xml
Due: none

fix: Set `.swcrc` to support `jsonc`
  .changeset/healthy-ghosts-shout.md
  packages/biome/recommended.json
Due: biome

chore: adjust biome tsconfig
  packages/biome/src/correctness/no_unused_variables.error.js
  packages/biome/tsconfig.json
Due: biome

deploy: 793d9e0083a5dad20aa5ac609102936bb9e5b83a
  404.html
  _astro/hoisted.CjjTlBcq.js
  _astro/hoisted.bf4k8FkQ.js
  _astro/ui-core.BctKyUIm.js
  _astro/ui-core.CwbtRWDf.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

chore: co v4
  .github/workflows/codeql-analysis.yml
Due: none

chore: add repo info
  package.json
Due: none

fix: package.json formatting
  packages/biome/CHANGELOG.md
  packages/biome/package.json
  packages/biome/recommended.json
Due: biome

chore: disable macos CI
  .github/workflows/pull-request.yml
Due: none

chore: disable macos on main
  .github/workflows/release.yml
Due: none

deploy: d257cc1b87d02b5b14d99d87d5d67472f5b52c39
  404.html
  _astro/hoisted.CjjTlBcq.js
  _astro/hoisted.bf4k8FkQ.js
  _astro/ui-core.BctKyUIm.js
  _astro/ui-core.CwbtRWDf.js
  guides/getting-started/index.html
  index.html
  reference/example/index.html
Due: none

chore: rename files
  packages/jest/license
  packages/jest/readme.md
Due: jest

chore: rename files
  packages/biome/src/correctness/use_exhaustive_dependencies.off.ts
Due: biome

chore: add jsr
  packages/jest/jsr.json
  packages/jest/package.json
Due: jest

feat: add performant config to export
  .changeset/loud-ducks-cry.md
  .vscode/ltex.dictionary.en-US.txt
  packages/biome/jsr.json
  packages/biome/license
  packages/biome/package.json
  packages/biome/performant.json
  packages/biome/readme.md
Due: biome

feat: add editorconfig
  .changeset/many-falcons-mix.md
  packages/buddy/package.json
  packages/buddy/templates/.editorconfig
Due: none

deploy: 3e394fb064dbff77f523351f654f5cd90ee1d880
  pagefind/index/en_55d1350.pf_index
  pagefind/index/en_7790aea.pf_index
  pagefind/pagefind-entry.json
  pagefind/pagefind.en_b575da9648.pf_meta
  pagefind/pagefind.en_fd6919b4dd.pf_meta
Due: none

Path conditions:
  biome: any of: packages/biome/
  jest: any of: packages/jest/
  typescript: any of: packages/typescript/
